nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 54px;
    background: #000;
    color: white;
}

.nav-links {
    width: 40%;
    height: 80%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    left: 10rem;
}
